<p>
  <strong>Student Name: </strong>
  <%= @factivity.stdName%>
</p>

<p>
  <strong>Activity: </strong>
  <%= @factivity.activity%>
</p>

<p>
  <strong>Exertion: </strong>
  <%=@factivity.exertion%>
</p>
